footer {
    position: absolute;
    bottom: 0%;
    left: 2%;

    p {
        display: inline-block;

        padding: 8px;
        background-color: rgba(0,0,0,0.9);
        border-radius: 7px;
        margin: 0;
        font-weight: bold;
        color: #fff;
        a:link {
            color: green;
          }
          
          /* visited link */
          a:visited {
            color: green;
          }
          
          /* mouse over link */
          a:hover {
            color: red;
          }
          
          /* selected link */
          a:active {
            color: yellow;
          }
    }
}
