.App { 
    margin: 0; 
    padding: 0; 
    width: 100vw; 
    height: 100vh; 
    text-align: center; 
    background-color: #293c58;
    background-image: url("https://jasonjafari.com/hacker-news-react/img/bacground.jpg"); 
    background-position: center; 
    position: relative; 
}